{
	"extends": [
		"stylelint-config-standard",
		"stylelint-config-standard-scss",
		"stylelint-order-config-standard",
		"stylelint-config-prettier"
	],
	"plugins": ["stylelint-order"],
	"rules": {
		"color-hex-case": "upper"
	}
}
